<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pys.dao.PublicHomeworkMapper">
    <insert id="publicHomework" >
        insert into publicHomework
        values (#{id}, #{hid}, #{cid}, #{homeworkName}, #{deadDate},#{detail},#{publicDate})
    </insert>

    <select id="acceptHomework" resultType="PublicHomework">
        select * from publicHomework where cid = #{cid}
    </select>

</mapper>